.player-outer {
  max-width: 560px;
  margin: 0 auto;
}

.player-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.player-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-stack {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}